* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    background-color: #eee;

    
}
h2,
h3 {
    color: rgb(77, 76, 76);
    margin: 1rem 0;
}
#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(219, 218, 215);
    position: fixed;
    width: 100%;
}
.header-icon {
    display: flex;
    flex-direction: row;
    align-items: center;

}

#header-img {
    width: 70px;
    height: 50px;
    margin: .5rem;
}
#nav-bar {
    margin-right: 1rem;
}
.nav-link {
    list-style: none;
    display:inline-flex;
    padding: 0 .5em;
}

.nav-link > a {
    color: rgb(77, 76, 76);
    text-decoration: none;
}
.nav-link > a:hover,
.nav-link > a:focus {
    text-decoration: underline;
}

/* Form section */
.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;    
    
}
#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;   
    margin-bottom: 40px; 
    max-width: 500px;
    
}
#email {
    padding: .5rem .8rem .5rem .3rem;
    border-radius: 5px;
    border:none;
}
#submit {
    margin: 1rem;
    font-size: 14px;
    padding: .4rem .8rem;
    background-color: yellow;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
}

/* Article */
.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.article-box {
    display: flex;
    max-width: 700px;
    margin: 1.5rem;
}

.article-img {
    width: 60px;
    margin-right: 4rem;
}
.how-it-works {
    display: flex;
    justify-content: center; 
    align-items:center;   
    margin: 3rem 0;
    
}
.video {
    margin: 1rem;
    width: 500px;
    height: 350px;
    border: none;
}


/* Pricing-section */
#pricing-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pricing-box {
    border: 1px solid rgb(219, 200, 290);;
    margin: .7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border-radius: 4px;
    width: 300px;
}
.price-title {
    background-color:rgb(219, 218, 215);
    width: 100%;
    text-align: center;
    
}

.pricing-box > ol>li{
    list-style: none;
    padding: 1rem 1.5rem;
    text-align: center;
}
.price-btn {
    font-size:medium;
    border-radius: 5px;
    padding: 8px 10px;
    margin-bottom: 1rem;
    background-color: orange;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

/* Footer */
.footer{
    text-align: end;
    background-color: rgb(219, 218, 215);
    padding: 1rem;    
}
.footer > a {
    text-decoration: none;
    color: rgb(82, 78, 78);    
}
.footer > p {
    font-size: 13px;
    margin-top: .5rem;
    color: rgb(82, 78, 78);
}



@media (max-width:768px) {
    .nav-link {
        list-style: none;
        display:flex;
        padding: 0 .5em;
        line-height: 1.2rem;
    }
    .video {
        margin: 1rem;
        width: 300px;
        height: 200px;
        border: none;
    }
    #pricing-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;
        margin-right: auto;
        margin-left: auto;
        
    }
}